@model CheckoutViewModel
@{
    Layout = "~/Views/Shopping/_CheckoutLayout.cshtml";
    ViewBag.Title = "Delivery Options";
}


<div id="view-orderdelivery" class="checkout view-checkout margin-15 row">

    <div class="panel-group" role="tablist">
        @*@if (Model.Items.Where(c => c.Type == ShoppingCartItemType.AutoOrder).Count() > 0)
        {
            <div class="panel">
                <div class="panel-heading" role="tab" id="autoOrderHeading">
                    <a href="@Url.Action("AutoOrder", "Shopping")">
                        <div class="checkout-section">
                            <span><i class="fa-refresh"></i></span> @Resources.Common.AutoOrderSettings
                            <strong><i class="fa fa-edit"></i>@Resources.Common.Edit</strong>
                        </div>
                    </a>
                </div>

                <div class="panel-body">
                    <h5>@Resources.Common.AutoOrderStartDate</h5>
                    @Model.PropertyBag.AutoOrderStartDate
                </div>
            </div>
        }*@


        <div class="panel">
            <div class="panel-heading" role="tab" id="addressesHeading">
                <a href="@Url.Action("Shipping", "Shopping")">
                    <div class="checkout-section">
                        <span>1</span> @Resources.Common.ShippingAddress
                        <strong><i class="fa fa-edit"></i>@Resources.Common.Edit</strong>
                    </div>
                </a>
            </div>

            <div class="panel-body">
                <h5>@Resources.Common.ShippingAddress</h5>
                
                    @if (Model.PropertyBag.ShippingAddress != null)
                    {
                       @Html.DisplayFor(c => Model.PropertyBag.ShippingAddress)
                    }

                

            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <a href="@Url.Action("billing", "shopping" )">
                    <div class="checkout-section">
                        <span>2</span>
                        <strong><i class="fa fa-edit"></i>@Resources.Common.Edit</strong>@Resources.Common.BillingDetails
                    </div>
                </a>

                <h5>@Resources.Common.BillingAddress</h5>
                
                    @if (Model.PropertyBag.BillingAddress != null)
                    {
                        @Html.DisplayFor(c => Model.PropertyBag.BillingAddress)
                    }
                    else
                    {
                        <strong>@Resources.Common.SameAsShipping</strong>
                    }
                
            </div>

        </div>
        <div class="panel">

            <div class="panel-body">
                <a href="@Url.Action("delivery", "shopping" )" aria-expanded="false" aria-controls="Delivery">
                    <div class="checkout-section active">
                        <span>3</span> @Resources.Common.Delivery
                    </div>
                </a>
                <div class="checkout-delivery">

                    <div class="col-xs-6 alpha omega">
                        <h5>@Resources.Common.ChooseShippingMethod:</h5>
                        <div id="shipmethods">
                            @using (Html.BeginForm("setshipmethodid", "shopping"))
                            {
                                foreach (var shipMethod in Model.ShipMethods.OrderBy(c => c.Price))
                                {
                                    <div class="radio">
                                        <label>
                                            @Html.RadioButton("ShipMethodID", shipMethod.ShipMethodID, shipMethod.Selected)
                                            @shipMethod.ShipMethodDescription <small class="text-muted">@shipMethod.Price.ToString("C")</small>
                                        </label>
                                    </div>
                                }
                                
                                @Html.AntiForgeryToken()
                            }
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <a href="@Url.Action("checkout", "shopping")" class="continue button color">@Resources.Common.Continue</a>
                </div>
            </div>

        </div>

        <div class="panel">
            <div class="panel-body">
                <a href="@Url.Action("checkout", "shopping")" class="disabled"><div class="checkout-section"><span>4</span>@Resources.Common.PaymentOrderReview</div></a>
            </div>

        </div>


    </div>
</div>
