@model EnrollmentPropertyBag
@{
    var contextID = Guid.NewGuid().ToString();
}



<div id="view-commissionsettings-@contextID">
    <div class="row margin-5">
        <div class="col-sm-8">
            <div class="form-group">
                @Html.LabelFor(m => m.Customer.PayableToName, "Who can we make your commissions payable to?", new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa-question-circle" data-toggle="popover" data-container="body" data-title="Suggestions" data-trigger="hover" data-placement="top" data-content="If you wish to enroll as a company, this name should match the Tax ID supplied for 1099 purposes. Otherwise, you should use your full name."></i></span>
                    @Html.TextBoxFor(m => m.Customer.PayableToName, new { @class = "form-control", placeholder = "eg. Your name, your company name, etc." })
                </div>
                @Html.ValidationMessageFor(c => c.Customer.PayableToName)
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                @Html.EditorFor(c => c.Customer.TaxID)
            </div>
        </div>
    </div>

    <div class="row margin-5">
        <div class="col-xs-12">
            <div class="form-group">
                @Html.LabelFor(m => m.Customer.PayableTypeID, "How would you like to receive your commissions?", new { @class = "control-label" })

                @{
                    var availablePayableTypes = new List<Common.Api.ExigoWebService.PayableType>()
                    {
                        Common.Api.ExigoWebService.PayableType.Check,
                        Common.Api.ExigoWebService.PayableType.PaymentCard,
                        Common.Api.ExigoWebService.PayableType.DirectDeposit,
                        Common.Api.ExigoWebService.PayableType.BankWire
                    };
                }

                @foreach (var payableType in availablePayableTypes)
                {
                    var payableTypeID = Exigo.GetPayableTypeID(payableType);

                    <div class="radio">
                        <label for="@(Html.IdFor(c => c.Customer.PayableTypeID))_@payableTypeID">
                            @Html.RadioButtonFor(c => c.Customer.PayableTypeID, payableTypeID, new
                            {
                                id = Html.IdFor(c => c.Customer.PayableTypeID) + "_" + payableTypeID
                            })
                            @payableType.ToString()
                        </label>
                    </div>
                }

            </div>
        </div>
    </div>


    <div data-bind="@Html.NameFor(c => c.Customer.PayableTypeID)" data-key="@Exigo.GetPayableTypeID(Common.Api.ExigoWebService.PayableType.Check)" class="hidden">
    </div>


    <div data-bind="@Html.NameFor(c => c.Customer.PayableTypeID)" data-key="@Exigo.GetPayableTypeID(Common.Api.ExigoWebService.PayableType.PaymentCard)" class="hidden">
    </div>


    <div data-bind="@Html.NameFor(c => c.Customer.PayableTypeID)" data-key="@Exigo.GetPayableTypeID(Common.Api.ExigoWebService.PayableType.DirectDeposit)" class="hidden">
        
        @Html.EditorFor(c => c.DirectDeposit, "BankAccount")

    </div>

</div>



@using (Html.BeginPartialScript())
{

    <script>
        require([], function () {

            // Settings
            var context = "#view-commissionsettings-@contextID",
                    $context = $(context);


            // Event Handlers
            function registerEventHandlers() {
                $('[data-toggle="popover"]', $context).popover();



                // Handle the PayableType fields
                var payableTypeIDName = '@Html.NameFor(c => c.Customer.PayableTypeID)';

                // Auto-check the first option if applicable
                if ($('[name="{0}"]:checked'.format(payableTypeIDName), $context).length == 0) {
                    $('[name="{0}"]:first'.format(payableTypeIDName), $context).prop('checked', true);
                }

                // Toggle the respective fieldset on change
                $('[name="{0}"]'.format(payableTypeIDName), $context).on('change', function () {
                    var name = $(this).attr('name'),
                        value = $('[name="{0}"]:checked'.format(name), $context).val();

                    $('[data-bind="{0}"]'.format(name), $context).addClass('hidden')
                        .filter('[data-key="{0}"]'.format(value), $context).removeClass('hidden');
                }).filter(':checked').triggerHandler('change');
            }


            // Actions
            var actions = {

            };


            // Helpers
            var helpers = {

            };


            // Initialization
            function init() {
                //registerEventHandlers();
            }
            init();

        });
    </script>
}