@model IEnumerable<IAddress>
@{
    ViewBag.Title = "Your Account";
    Layout = "~/Views/Account/_Layout.cshtml";
}

<h3 class="page-header no-margin">Your saved addresses</h3>
<div class="space-20"></div>

<div class="row">
    @foreach (var address in Model)
    {
        var typedAddress = address as Address;
        var isPrimary = typedAddress.AddressType == AddressType.Main;

        <div class="col-sm-4">

            <strong>@Html.Raw((isPrimary) ? "(Primary)" : "&nbsp;")</strong>

            @Html.DisplayFor(c => typedAddress)

            <div class="space-10"></div>
            <div class="btn-group">
                <a href="@Url.Action("ManageAddress", new { type = typedAddress.AddressType })" class="btn btn-default"><i class="fa-pencil"></i></a>
                @if (!isPrimary)
                {
                    <a href="@Url.Action("DeleteAddress", new { type = typedAddress.AddressType })" class="btn btn-default"><i class="fa-trash-o"></i></a>
                }
            </div>

            @if (!isPrimary)
            {
                <a href="@Url.Action("SetPrimaryAddress", new { type = typedAddress.AddressType })" class="btn btn-default">@Resources.Common.SetPrimary</a>
            }
        </div>
    }

    @if (Model.Count() < 3)
    {
        <div class="col-sm-4">
            <div class="text-center">
                <strong>&nbsp;</strong>
                <a href="@Url.Action("AddAddress")" class="text-muted">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <i class="fa-plus" style="font-size: 48px;"></i><br />
                            @Resources.Common.AddNewAddress
                        </div>
                    </div>
                </a>
            </div>
        </div>
    }

</div>