@model ReplicatedSite.ViewModels.DistributorForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    ViewBag.Title = "ForgotPassword";
}

@using (Ajax.BeginForm("DistibutorForgotPassword", "Account", new AjaxOptions()
{
    UpdateTargetId = "forgotPassword",
    InsertionMode = InsertionMode.Replace,
    OnBegin = "$('#resetPasswordBtn').loadingbutton('start')",
    OnComplete = "passwordSuccess"
}))
{

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-4">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(u => u.LoginName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-sm-6">
                            @Html.TextBoxFor(u => u.LoginName)
                            @Html.ValidationMessageFor(u => u.LoginName)
                        </div>            
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" id="resetPasswordBtn" class="btn login">@Resources.Common.ResetPassword</button>
                        </div>
                    </div>
                </div>
                <div>
                    <small>@Resources.Common.CallCustomerService</small>
                </div>
            </div>
        </div>
    </div>
    @Html.AntiForgeryToken()
}

<script>
    function passwordSuccess(response) {
        $('#resetPasswordBtn').loadingbutton('stop');
        $('#resetPasswordBtn').text("Password has been reset");
        $('#resetPasswordBtn').addClass("disabled");
        toastr.success("Your password has been reset, please check your email.");
    }
</script>