@model CreditCard
@{
    ViewBag.Title = "Your Account";
    Layout = "~/Views/Account/_Layout.cshtml";
}



<div class="row">
    <div class="col-sm-9">
@using (Html.BeginForm("savecreditcard", "account"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(c => c.Type)

    if (Model.IsUsedInAutoOrders)
    {
        <div class="alert alert-info">
            <h4>@Resources.Common.EditingAutoOrderCreditCards</h4>
            @Resources.Common.ChangesToAutoOrderCreditCards.FormatWith(Model.AutoOrderIDs.Length)
        </div>
    }


    <div class="well">
        <div class="row margin-5">
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(c => c.NameOnCard, new { @class = "control-label" })
                    @Html.TextBoxFor(c => c.NameOnCard, new
                                    {
                                        @class = "form-control",
                                        placeholder = Resources.Common.NameOnCard
                                    })
                </div>
            </div>
        </div>
        <div class="row margin-5">
            <div class="col-sm-8">
                <div class="form-group">
                    @Html.LabelFor(c => c.CardNumber, new { @class = "control-label" })
                    @Html.TextBoxFor(c => c.CardNumber, new
                                    {
                                        @class = "form-control",
                                        placeholder = Resources.Common.CardNumber
                                    })
                    @if (Model.Type != CreditCardType.New)
                    {
                        <small class="help-block">@Resources.Common.ReEnterCardNumber</small>
                    }
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(c => c.CVV, new { @class = "control-label" })
                    @Html.TextBoxFor(c => c.CVV, new
                                    {
                                        @class = "form-control",
                                        placeholder = "CVV"
                                    })
                </div>
            </div>
        </div>
        <div class="row margin-5">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(c => c.ExpirationMonth, Resources.Common.ExpirationDate, new { @class = "control-label" })
                    @Html.DropDownListFor(c => c.ExpirationMonth, Html.Months(), new
                                    {
                                        @class = "form-control"
                                    })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="@Html.NameFor(c => c.ExpirationYear)" class="control-label">&nbsp;</label>
                    @Html.DropDownListFor(c => c.ExpirationYear, Html.ExpirationYears(), new
                                    {
                                        @class = "form-control"
                                    })
                </div>
            </div>
        </div>

        <hr />

        @Html.EditorFor(c => Model.BillingAddress)

    </div>



            <button type="submit" class="btn btn-primary">@Resources.Common.SaveChanges</button>
            <a href="@Url.Action("PaymentMethodList")" class="btn btn-link">@Resources.Common.Cancel</a>

            if (Model.Type != CreditCardType.New && !Model.IsUsedInAutoOrders)
            {
                <span class="pull-right">
                    <a href="@Url.Action("DeleteCreditCard", new { type = Model.Type })" class="btn btn-default">@Resources.Common.Delete</a>
                </span>
            }

        }
    </div>
    <div class="col-sm-3">

    </div>
</div>