@model Order
@{
    ViewBag.Title = "Invoice #" + Model.OrderID;
}


@*Titlebar*@
<div class="titlebar hidden-print">
    <section class="container">
        <h2>@Resources.Common.Account</h2>

        <nav id="breadcrumbs">
            <ul>
                <li><a href="@Url.Action("Index", "Account")">@Resources.Common.Account</a></li>
                <li><a href="@Url.Action("OrdersList", "Account")">@Resources.Common.YourOrders</a></li>
                <li>@ViewBag.Title</li>
            </ul>
        </nav>

    </section>
</div>

<nav class="navbar navbar-default container hidden-print" role="navigation">

    <ul class="nav navbar-nav">
        <li><a onclick="window.print()"><i class="fa-print"></i> @Resources.Common.Print</a></li>
    </ul>
</nav>

<div id="view-orderinvoice" class="container">

    <div class="row">
        <div class="col-sm-12">
            <span class="lead">Invoice #@Model.OrderID</span><br />
            Ordered @Model.OrderDate.ToString("M/d/yyyy")<br />
            @if (Model.ShippedDate != null)
            {
                <text>Shipped @(((DateTime)Model.ShippedDate).ToString("M/d/yyyy"))<br /></text>
            }
            @if (Model.HasTrackingNumbers)
            {
                <text>Tracking: @string.Join(", ", Model.TrackingNumbers) <br /></text>
            }
        </div>
    </div>

    <div class="space-20"></div>

    <div class="well">
        <div class="row">
            <div class="col-sm-6">
                <div class="lead">@GlobalSettings.Company.Name</div>
                @Html.Partial("~/Views/Shared/DisplayTemplates/Address.cshtml", GlobalSettings.Company.Address)
                <i class="fa-envelope"></i> @GlobalSettings.Company.Email<br />
                <i class="fa-phone"></i> @GlobalSettings.Company.Phone
            </div>
            <div class="col-sm-6">
                <div class="pull-right">
                    <div class="lead">@Resources.Common.ShippedTo:</div>
                    @Html.DisplayFor(c => c.Recipient, "ShippingAddress")
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr class="active">
                    <th>SKU</th>
                    <th>Description</th>
                    <th class="text-right">@Resources.Common.Quantity</th>
                    <th class="text-right">@Resources.Common.PricePerUnit</th>
                    <th class="text-right">@Resources.Common.Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var detail in Model.Details)
                {
                    <tr>
                        <td>@detail.ItemCode</td>
                        <td>@detail.ItemDescription</td>
                        <td class="text-right">@detail.Quantity.ToString("N0")</td>
                        <td class="text-right">@detail.PriceEach.ToString("C")</td>
                        <td class="text-right">@detail.PriceTotal.ToString("C")</td>
                    </tr>
                }
                @if (Model.Details.Count() == 0)
                {
                    <tr>
                        <td colspan="5" class="no-rows">
                            @Resources.Common.NoItemsPurchased
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td class="text-right active">@Resources.Common.Subtotal</td>
                    <td class="text-right active">@Model.Subtotal.ToString("C")</td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td class="text-right active">@Resources.Common.Shipping</td>
                    <td class="text-right active">@Model.ShippingTotal.ToString("C")</td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td class="text-right active">@Resources.Common.Tax</td>
                    <td class="text-right active">@Model.TaxTotal.ToString("C")</td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td class="text-right active text-strong">@Resources.Common.GrandTotal</td>
                    <td class="text-right active text-strong">@Model.Total.ToString("C")</td>
                </tr>
            </tfoot>
        </table>
    </div>

</div>
<div class="space-30">

</div>