@model Order

@{
    var shipperUrl = (Identity.Customer.Market.Name == MarketName.UnitedStates) ? "http://www.fedex.com/Tracking?action=track&tracknumbers=" : "http://wwwapps.ups.com/WebTracking/track?track=yes&trackNums=";
    var trackingUrl = string.Empty;
}

<div class="ordersummary">
    <div class="panel panel-default">
        <div class="panel-body no-padding">
            <div class="row margin-0">
                <div class="col-sm-3 details-container">
                    <div class="padded-container">
                        <div class="text-lg">@Model.OrderDate.ToString("MMMM d, yyyy")</div>

                        <p>
                            @Resources.Common.Order <a href="@Url.Action("orderinvoice", "account", new { token = Common.Services.Security.Encrypt(Model.OrderID, Identity.Customer.CustomerID) })">#@Model.OrderID</a>

                            @if (Model.AutoOrderID != null)
                            {
                                <br />
                                @:AutoOrder <a href="@Url.Action("autoorderdetail", "autoorder", new { token = Common.Services.Security.Encrypt(Model.AutoOrderID, Identity.Customer.CustomerID) })">#@Model.AutoOrderID</a>
                            }
                        </p>


                        <dl class="dl">
                            <dt><strong>@Resources.Common.Total</strong></dt>
                            <dd><span class="text-danger">@Model.Total.ToString("C")</span></dd>

                            @if (!Model.IsVirtualOrder)
                            {

                                <dt style="margin-top: 10px;"><strong>@Resources.Common.ShippingAddress</strong></dt>
                                <dd>
                                    @Html.DisplayFor(c => Model.Recipient, "ShippingAddress")
                                </dd>
                            }

                            @if (Model.HasTrackingNumbers)
                            {


                                <dt style="margin-top: 10px;"><strong>@Resources.Common.TrackYourOrder</strong></dt>
                                <dd>

                                    @foreach (var trackingNumber in Model.TrackingNumbers)
                                    {

                                        trackingUrl = shipperUrl + trackingNumber;

                                        <a href="@trackingUrl" title="Track Package# @trackingNumber">@trackingNumber</a>
                                        <br />
                                    }

                                </dd>
                            }

                        </dl>


                        <ul class="list-unstyled">
                            <li><a href="@Url.Action("orderinvoice", "account", new { token = Common.Services.Security.Encrypt(Model.OrderID, Identity.Customer.CustomerID) })">@Resources.Common.ViewInvoice</a></li>

                        </ul>

                    </div>
                </div>
                <div class="col-sm-9 items-container">
                    <div class="padded-container">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="text-lg">
                                    <span class="text-info">@Model.OrderStatusDescription</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                @if (Model.HasTrackingNumbers)
                                {
                                    trackingUrl = shipperUrl + Model.TrackingNumbers.FirstOrDefault();

                                    <a href="@trackingUrl" class="btn btn-primary btn-block" title="@Model.TrackingNumbers.First()" style="color: #FFFFFF;">@Resources.Common.TrackYourOrder</a>
                                }
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="padded-container">
                        @foreach (var detail in Model.Details)
                        {
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-2 col-xs-3">
                                        <div class="productimage">
                                            <a href="@Url.Action("ItemDetail", "Shopping", new { itemcode = detail.ItemCode })"><img src="@GlobalUtilities.GetProductImagePath(detail.ImageUrl)" class="img-responsive" /></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-10 col-xs-9">
                                        <a href="@Url.Action("ItemDetail", "Shopping", new { itemcode = detail.ItemCode })" class="block">@detail.ItemDescription</a>
                                        <small class="text-sm text-muted">SKU: <a href="@Url.Action("ItemDetail", "Shopping", new { itemcode = detail.ItemCode })">#@detail.ItemCode</a></small>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.Details.Count() == 0)
                        {
                            <div class="text-muted">
                                @Resources.Common.NoItemsPurchasedInOrder
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>