<div class="mega-container row">

    <div class="col-sm-2 hidden-xs">
        <ul>
            <li><span class="mega-headline">@Resources.Global.OurBusiness</span></li>
            <li><a href="#">@Resources.Global.OurTeam</a></li>
            <li><a href="#">@Resources.Global.OurMission</a></li>
            <li><a href="#">@Resources.Global.OurHope</a></li>
        </ul>
    </div>

    <div class="col-sm-2 hidden-xs">
        <ul>
            <li><span class="mega-headline">@Resources.Global.OurProducts</span></li>
            <li><a href="#">@Resources.Global.GMPCert</a></li>
            <li><a href="#">@Resources.Global.HealthHeart</a></li>
            <li><a href="#">@Resources.Global.SeeingGreens</a></li>
        </ul>
    </div>

    <div class="col-sm-2 hidden-xs">
        <ul>
            <li><span class="mega-headline">@Resources.Global.OurHeart</span></li>
            <li><a href="#">@Resources.Global.Destined&trade;</a></li>
            <li><a href="#">@Resources.Global.GivingBack</a></li>
            <li><a href="#">@Resources.Global.ReachingWorld</a></li>
        </ul>
    </div>

    <div class="col-sm-3 hidden-xs">
        <a href="#" class="img-caption margin-reset">
            <figure>
                <img src="~/Content/images/placeholders/menu-banner-01.jpg" alt="" />
                <figcaption>
                    <h3>@Resources.Global.OurMission</h3>
                    <span>@Resources.Global.ItStarts</span>
                </figcaption>
            </figure>
        </a>
    </div>

    <div class="col-sm-3 hidden-xs">
        <a href="#" class="img-caption margin-reset">
            <figure>
                <img src="~/Content/images/placeholders/menu-banner-02.jpg" alt="" />
                <figcaption>
                    <h3>@Resources.Global.Destined&trade;</h3>
                    <span>@Resources.Global.MakingDifference</span>
                </figcaption>
            </figure>
        </a>
    </div>

    <div class="clearfix"></div>
</div>
