<div class="mega-container row">

    <div class="col-sm-2 hidden-xs">
        <ul>
            <li><span class="mega-headline">@Resources.Global.PhysicalSuccess</span></li>
            <li><a href="#">@Resources.Global.BenLost</a></li>
            <li><a href="#">@Resources.Global.Sue</a></li>
            <li><a href="#">@Resources.Global.RyanShed</a></li>
            <li><a href="#">@Resources.Global.More...</a></li>
        </ul>
    </div>

    <div class="col-sm-2 hidden-xs">
        <ul>
            <li><span class="mega-headline">@Resources.Global.MentalSuccess</span></li>
            <li><a href="#">@Resources.Global.Entrepreneurs</a></li>
            <li><a href="#">@Resources.Global.Vacations</a></li>
            <li><a href="#">@Resources.Global.Anytime</a></li>
            <li><a href="#">@Resources.Global.More...</a></li>
        </ul>
    </div>

    <div class="col-sm-2 hidden-xs">
        <ul>
            <li><span class="mega-headline">@Resources.Global.FinancialSuccess</span></li>
            <li><a href="#">@Resources.Global.LifeChange</a></li>
            <li><a href="#">@Resources.Global.OpenFuture</a></li>
            <li><a href="#">@Resources.Global.Shoulda</a></li>
            <li><a href="#">@Resources.Global.More...</a></li>
        </ul>
    </div>

    <div class="col-sm-3 hidden-xs">
        <a href="#" class="img-caption margin-reset">
            <figure>
                <img src="~/Content/images/placeholders/menu-banner-01.jpg" alt="" />
                <figcaption>
                    <h3>@Resources.Global.Entrepreneurs</h3>
                    <span>@Resources.Global.Catalysts</span>
                </figcaption>
            </figure>
        </a>
    </div>

    <div class="col-sm-3 hidden-xs">
        <a href="#" class="img-caption margin-reset">
            <figure>
                <img src="~/Content/images/placeholders/menu-banner-02.jpg" alt="" />
                <figcaption>
                    <h3>@Resources.Global.Anytime</h3>
                    <span>@Resources.Global.DoBusiness</span>
                </figcaption>
            </figure>
        </a>
    </div>

    <div class="clearfix"></div>
</div>
