<div class="mega-container row">

    <div class="col-sm-2 hidden-xs">
        <ul>
            <li><span class="mega-headline">@Resources.Global.WeightManagement</span></li>
            <li><a href="shop.html">@Resources.Global.WINPro&trade;</a></li>
            <li><a href="shop.html">@Resources.Global.WINTrim&trade;</a></li>
        </ul>
    </div>

    <div class="col-sm-2 hidden-xs">
        <ul>
            <li><span class="mega-headline">@Resources.Global.OptimumHealth</span></li>
            <li><a href="shop.html">@Resources.Global.WINMXR&trade;</a></li>
            <li><a href="shop.html">@Resources.Global.WINCharge&trade;</a></li>
            <li><a href="shop.html">@Resources.Global.WINFit&trade;</a></li>
        </ul>
    </div>

    <div class="col-sm-2 hidden-xs">
        <ul>
            <li><span class="mega-headline">@Resources.Global.Science</span></li>
            <li><a href="#">@Resources.Global.PowerGreens</a></li>
            <li><a href="#">@Resources.Global.AntioxidantStrength</a></li>
            <li><a href="#">@Resources.Global.ProteinSlim</a></li>
            <li><a href="#">@Resources.Global.More...</a></li>
        </ul>
    </div>

    <div class="col-sm-3 hidden-xs">
        <a href="shop.html" class="img-caption margin-reset">
            <figure>
                <img src="~/Content/images/placeholders/menu-banner-01.jpg" alt="" />
                <figcaption>
                    <h3>@Resources.Global.WINMXR&trade;</h3>
                    <span>@Resources.Global.GreensDrink</span>
                </figcaption>
            </figure>
        </a>
    </div>

    <div class="col-sm-3 hidden-xs">
        <a href="#" class="img-caption margin-reset">
            <figure>
                <img src="~/Content/images/placeholders/menu-banner-02.jpg" alt="" />
                <figcaption>
                    <h3>@Resources.Global.PowerGreens</h3>
                    <span>@Resources.Global.TheGreens</span>
                </figcaption>
            </figure>
        </a>
    </div>

    <div class="clearfix"></div>
</div>
