@model PacksViewModel
@{
    ViewBag.Title = "Enrollment Pack";
    bool hasSelectedPack = (Model.SelectedOrderItem != null);
    var selectedItemCode = (hasSelectedPack) ? Model.SelectedOrderItem.ItemCode : Model.OrderItems.Skip(1).FirstOrDefault().ItemCode;
}

<style>
    .inner-pack { margin-bottom: 15px; min-height: 160px; }
        .inner-pack h4 { font-size: 20px; line-height: 20px; color: white; margin-bottom: 20px; }
        .inner-pack p { line-height: 18px; }
</style>

@using (Html.BeginForm())
{
    <div class="container">
        <div class="space-40"></div>
        <div class="row">
            @{ var columns = Model.OrderItems.Count(); }
            @foreach (var item in Model.OrderItems)
            {
                var itemButtonText = (item.ItemCode == Model.SelectedOrderItem.ItemCode && hasSelectedPack) ? "<i class='fa-check'></i>" : "Select";


                <div class="col-sm-@(12 / columns)">

                    <div class="pack">

                        <div class="pack-title">
                            <div class="inner-pack">
                                <h4 class="text-uppercase" title="ItemDescription">@item.ItemDescription</h4>
                                <p title="ShortDetail1">@item.ShortDetail1</p>
                            </div>
                        </div>

                        <div class="inner-pack">
                            <div class="text-center">
                                <img src="@item.LargeImageUrl" class="img-responsive" alt="LargeImage" title="LargeImage" />
                            </div>
                        </div>
                        <div class="inner-pack">
                            <strong class="text-blue">@Resources.Common.Includes</strong>
                            @Html.Raw(item.LongDetail1)
                        </div>
                        <div class="inner-pack">
                            <div class="pack-price">
                                <div class="main-price">@item.Price.ToString("C")</div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary btn-wide" data-pack="@item.ItemCode">@itemButtonText</a>
                </div>
                <div class="space-20 visible-xs"></div>
            }

        </div>
        <div class="space-20"></div>
        <a data-role="submit" class="btn btn-primary btn-lg">@Resources.Common.NextStep</a>
    </div>

    <input type="hidden" name="SelectedPack" value="@selectedItemCode" />

    <div class="space-50"></div>
    @Html.AntiForgeryToken()
}


<script>
    require([], function () {
        var hasSelectedPack = "@hasSelectedPack.ToString().ToLower()",
            selectedItemCode = "@selectedItemCode";

        function registerEventHandlers() {
            $("[data-pack]").on("click", function () {
                var itemCode = $(this).data("pack");
                activatePack(itemCode);

                $('[name="SelectedPack"]').val(itemCode);
            });

            $('[data-role="submit"]').on("click", function () {
                if ($('[name="SelectedPack"]').val() == "") {
                    toastr.error("Please select a pack before proceeding");
                } else {
                    $(this).loadingbutton("start");
                    $(this).parents("form").submit();
                }
            });
        }

        function _init() {
            registerEventHandlers();

            activatePack(selectedItemCode);
        }

        // Set the current active pack the user selects, and deselect the others.
        // This also sets the item code that will be submitted to the server.
        function activatePack(itemCode) {
            $("[data-pack]").each(function () {
                $(this).html("Select");
                $(this).removeClass("active");
                $(".pack").removeClass("packSelected");
                $(this).parent().find(".pack-title").css("background-color", "grey");
                $(this).parent().find(".text-blue").css("color", "grey");
                $(this).parent().find(".main-price").css("color", "grey");
                $(this).parent().find('[data-pack]'.format(itemCode.toString())).css("background-color", "grey");
            });

            var $currentPack = $('[data-pack="{0}"]'.format(itemCode.toString()));
            $currentPack.html("<i class='fa-check'></i>");
            $currentPack.addClass("active");
            $currentPack.parent().find(".pack").addClass("packSelected");
            $currentPack.parent().find(".pack-title").css("background-color", "#0071ce");
            $currentPack.parent().find(".text-blue").css("color", "#0071ce");
            $currentPack.parent().find(".main-price").css("color", "#0071ce");
            $currentPack.css("background-color", "#0071ce");
            //console.log("$currentPack('.pack'): ", $currentPack.(".pack"));
        }

        // Initialize our event handlers
        _init();

    })();
</script>
